/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    /*    font-family: 'Mukta', sans-serif;*/
        font-family: 'Montserrat', sans-serif;
    }
    
    nav{
        background: #fff;
        padding: 0 2rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
} */

